@model PageViewCount
@{
    ViewData["Title"] = "Sign In";
}

<link rel="stylesheet" href="~/css/site.css">
<script src="~/js/site.js"></script>

<div class="page">
    <partial name="_LoginPartial" />
</div>


