
.gpdr-container {
    position: fixed;
    bottom: -100px;
    color: #fff;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    bottom: 0;
    height: 100px;
    width: 50%;
    z-index: 10;
    left: 25%;
    margin-bottom: 1%;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.gdpr-consent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
}

.gdpr-consent__description{
    display: flex;
    justify-content: center;
}

.gdpr-consent__choice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.gdpr-consent__button--accept {
    background-color: #d5f5d5;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.gdpr-consent__button--accept:hover {
    background-color: #c5e3c5;
}

.gdpr-consent__button--reject {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.hide{
    display: none;
}

.show{
    display: block;
}

