html {
    font-size: 14px;
    scrollbar-color: white transparent;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

li > a.nav-link {
    color: white !important;
    font-family: HelveticaNeue, 'Microsoft Jhenghei', sans-serif;
    font-size: 1.2rem;
}
body {
    color: white;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*.background {
    background-image: url("/resources/assets/Asset 8.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}*/

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient( -135deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 30%, rgba(152,68,183,1) 75%, rgba(255,53,127,1) 100% );
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

div.container {
    flex-grow: 2;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 80%;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: -4;
    transition: top 0.3s ease-out;
}

main, .image-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.blob-image {
    position: absolute;
    left: 50%;
    top: 50%;
    aspect-ratio: 1 / 1;
    height: 50%;
    
}
.blob-image-1 {
    left: 60%;
    top: -20%;
    height: 100%;
    width: 100%;
    z-index: -4;
}
.blob-image-2 {
    left: 50%;
    top: 50%;
    height: 50%;
    width: 40%;
    z-index: -3;
}
.blob-image-3 {
    left: 42%;
    top: 42%;
    height: 10%;
    z-index: -4;
}
.blob-image-4 {
    left: 4%;
    top: 0%;
    height: 40%;
    width: 40%;
    z-index: -3;
}
.blob-image-5 {
    left: -15%;
    top: 40%;
    height: 70%;
    width: 50%;
    z-index: -3;
}

.blob-image-6 {
    left: 70%;
    top: 130%;
    height: 80%;
    width: 50%;
    z-index: -3;
    transform: rotate(45deg);
}

.blob-image-7 {
    left: 0%;
    top: 140%;
    height: 70%;
    width: 50%;
    z-index: -3;
    transform: rotate(45deg);
}

body::-webkit-scrollbar {
    width: 50px;
}

body::-webkit-scrollbar-track {
    
}

body::-webkit-scrollbar-thumb {
    background-image: url('/resources/assets/scrollicon.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 50px;
}

.profile-content {
    width: 120vh;
    justify-items: start;
    margin-block: 100vh;
    /*white-space: break-spaces;*/
}
.profile-content > *{
    margin-bottom: 8rem;

}
.profile-content__category--hidden-mobile {
    
}

.profile-content__category-title {
    transition: top 0.3s ease-out;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.profile-content__element * {
    transition: top 0.3s ease-out;
    font-size: 1.5rem;
}