@model PageViewCount
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css">
<script src="~/js/site.js"></script>
<img class="logo tijdelijk" id="floater-slow" src="resources/logos/logo.svg" />

<div style="height: 5000px"></div>
    @*<img src="resources/logos/Natalie Geurtsennataliegeurtsen.png" style="padding: 5%"/>
    <p>Deze view is @Model.PageViews keer bekeken</p>*@
    
    
