@model PageViewCount
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css">
<script src="~/js/site.js"></script>
<img class="logo" id="floater-slow" src="resources/logos/logo.svg" />

<div style="height: 100vh"></div>


<div class="page">
    <section class="personalia">
    </section>
    <section class="profile" id="floater-slow" style="font-family: HelveticaNeue;">
        <section class="profile-content">
            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Web Developer</h3>
                <h3 class="profile-content__category-title">Frontend Developer</h3>
            </div>

            @*<div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Hello, my name is Natalie Geurtsen and I'm a passionate web developer with 0 years of experience in creating beautiful, functional, and responsive websites. 
                    
                    <br /> I am skilled in [list of relevant skills], and I am always eager to learn new technologies and improve my skills.

                    Throughout my career, I have worked with a variety of clients, from small startups to large corporations, helping them to achieve their goals by creating custom web solutions tailored to their needs. I believe that a great website is not just visually appealing, but also functional, easy to use, and optimized for performance.

                    I enjoy working in a team environment and collaborating with other developers, designers, and stakeholders to deliver high-quality projects that exceed expectations. I have experience working with various programming languages, such as [list of relevant languages], as well as popular frameworks and tools like [list of relevant frameworks and tools].

                    My goal is to create elegant, efficient, and user-friendly websites that make a difference in people's lives. I am excited about the possibilities that web development offers, and I look forward to working with you to bring your vision to life.
                <p>
            </div>*@


            <div class="profile-content__category" style="margin-block: 10%">
                <h3 class="profile-content__category-title">Education</h3>
            
            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Bachelor's degree, HBO-ICT</h4>
                    <p class="profile-content__period">Juli 2025</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
                </div>
            </div>
        </section>
    </section>
</div>


