@model PageViewCount
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css">
<script src="~/js/site.js"></script>
<img class="logo" id="floater-slow" src="resources/logos/logo.svg" />

<div style="height: 100vh"></div>


<div class="page">
    <section class="personalia">
    </section>
    <section class="profile" id="floater-slow" style="font-family: HelveticaNeue;">
        <section class="profile-content">
            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Web Developer</h3>
                <h3 class="profile-content__category-title">Frontend Developer</h3>
            </div>
            <div class="profile-content__category" style="margin-block: 10%">
                <h3 class="profile-content__category-title">Education</h3>
            
            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Bachelor's degree, HBO-ICT</h4>
                    <p class="profile-content__period">Juli 2025</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
                </div>
            </div>
        </section>
    </section>
</div>


