@{
    ViewData["Title"] = "Profile";
}

<link rel="stylesheet" href="~/css/profile.css">

<div class="page">
    <section class="personalia">
        <div class="slideshow-person-logo">
            <img class="person-logo" src="~/resources/images/Aimi.jpg">
            <img class="person-logo" src="~/resources/images/AuroraBorealis1.jpg">
            <img class="person-logo" src="~/resources/images/AuroraBorealis2.jpg">
            <img class="person-logo" src="~/resources/images/Iceblocks.jpg">
            <div>
                <button class="slideshow-button-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="slideshow-button-right" onclick="plusDivs(+1)">&#10095;</button>
            </div>
            <script>
                var slideIndex = 1;
                showDivs(slideIndex);

                function plusDivs(n) {
                    showDivs(slideIndex += n);
                }

                function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("person-logo");
                    if (n > x.length) { slideIndex = 1 }
                    if (n < 1) { slideIndex = x.length };
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    x[slideIndex - 1].style.display = "block";
                }</script>
        </div>
        <h1 class="person-name">Natalie Geurtsen</h1>

        <section class="profile-personale">
            <p class="profile-content__email">nataliegeurtsen@gmail.com</p>
            <p class="profile-content__phone">+31 6 55 87 40 05</p>
        </section>
    </section>

    <section class="profile">
        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profile</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Hello, my name is Natalie Geurtsen and I'm a passionate web developer with 0 years of experience in creating beautiful, functional, and responsive websites. 
                    <br /> I am skilled in [list of relevant skills], and I am always eager to learn new technologies and improve my skills.
                    <br /> Throughout my career, I have worked with a variety of clients, from small startups to large corporations, helping them to achieve their goals by creating custom web solutions tailored to their needs. I believe that a great website is not just visually appealing, but also functional, easy to use, and optimized for performance.
                    <br /> I enjoy working in a team environment and collaborating with other developers, designers, and stakeholders to deliver high-quality projects that exceed expectations. 
                    <br /> I have experience working with various programming languages, such as [list of relevant languages], as well as popular frameworks and tools like [list of relevant frameworks and tools].
                    <br /> My goal is to create elegant, efficient, and user-friendly websites that make a difference in people's lives. I am excited about the possibilities that web development offers, and I look forward to working with you to bring your vision to life.
                </p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Bachelor's degree, HBO-ICT</h4>
                    <p class="profile-content__period">aug 2021 - heden</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Toegepaste psychologie (Applied Psychology)</h4>
                    <p class="profile-content__period">aug 2020 - jan 2021</p>
                </div>
                <p class="profile-content__institute">Hogeschool van Amsterdam, Amsterdam</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Communication and multimedia design</h4>
                    <p class="profile-content__period">aug 2017 - apr 2018</p>
                </div>
                <p class="profile-content__institute">Hogeschool Utrecht, Utrecht</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Bachelor in de Rechten, Rechten</h4>
                    <p class="profile-content__period">aug 2016 - jun 2017</p>
                </div>
                <p class="profile-content__institute">Hogeschool Utrecht, Utrecht</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Quality manager</h4>
                    <p class="profile-content__period">mrt 2020 - heden</p>
                </div>
                <p class="profile-content__institute">ContactCare, Amersfoort</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Senior Klantexpert</h4>
                    <p class="profile-content__period">jul 2019 - heden</p>
                </div>
                <p class="profile-content__institute">ContactCare, Amersfoort</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Crewlid</h4>
                    <p class="profile-content__period">jun 2016 - nov 2018</p>
                </div>
                <p class="profile-content__institute">McDonald's, Nijkerk</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Skills</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HTML</h4>
                </div>
                <p class="profile-content__institute">••••○</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">C#</h4>
                </div>
                <p class="profile-content__institute">•••○○</p>
            </div>
        </section>

    </section>
</div>
